# ignore folders
cv_venv/
WebScraper/bdd
WebScraper/static/database_images
WebScraper/static/images

# ignore all notebook checkpoints
.ipynb_checkpoints/

# ignore following formated files
.jpg
.jpeg
.png
.txt
